DATABASE_URL=postgresql://user:password@localhost:5432/dbname
PORT=4000
JWT_SECRET=your-secret-key
TOKEN_VERIFY_EXPIRY=60
JWT_ACCESS_TOKEN_EXPIRATION=900
JWT_REFRESH_TOKEN_EXPIRATION=604800

RESEND_API_KEY=re_xxxxxxxxxxxx
